node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
static/images/AdobeStock_209809778.jpeg
static/images/lactation-success-facebook-ad_2.png
static/images/lactation-success-facebook-ad_rev2.png
